[Unit]
Description=Factorio Headless Server
Documentation=https://https://wiki.factorio.com/Multiplayer
AssertArchitecture=x86-64
AssertPathIsDirectory=/opt/factorio

[Service]
Type=simple
ExecStart=/opt/factorio/scripts/start-server
WorkingDirectory=/opt/factorio
Restart=on-failure

[Install]
WantedBy=multi-user.target
